DATABASE_URL=postgresql://neondb_owner:npg_8kxMBioDIO7Z@ep-solitary-bar-apurcooy-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=super40_highly_secret_key_2026_change_me
PORT=8081
